{% load static %}
<!-- MAIN CONTENT-->
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-full s-content__main custom_main">

                    <h1>Create New Blog Here.</h1>
                    
                    
                    <form name="cForm" id="cForm" method="post" action="blog_add" onsubmit="return validateBlog()">
                    <fieldset>
                        {% csrf_token %}
                        <div class="form-field">
                            <input name="blogname" type="text" id="blogname" class="full-width" placeholder="Type Your Blog Name (Ex: BlogBook.com/... ) ">
                            <span id="Name_error" style="color: red"></span>
                        </div>
                    
                        <div class="form-field">
                            <input name="title" type="text" id="title" class="full-width" placeholder="Type Title">
                            <span id="title_error" style="color: red"></span>
                        </div>

                        <div class="form-field">
                            <select name="blogcatagory" id="blogcatagory" class="full-width"> 
                                <option>Catagories</option>                                      
                                <option value="lifestyle">Lifestyle</option>
                                <option value="health">Health</option>
                                <option value="family">Family</option>
                                <option value="corporate">Corporate</option>
                                <option value="travel">Travel</option>
                                <option value="technical">Technical</option>
                                <option value="startup">StartUp</option>
                                <option value="photography">Photography</option>
                                <option value="photography">Other</option>
                            </select>
                        </div>
                        <input type="hidden" name="template" value="{{request.GET.template}}">
                        <button type="submit" class="submit btn btn--primary full-width">Submit</button>
                        

                    </fieldset>
                </form> <!-- end form -->

                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/general.js ' %}"></script>