{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Signin - Blog Book</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    

    <!-- CSS
    ================================================== -->

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js ' %}"></script>
    <script src="{% static 'js/pace.min.js ' %}"></script>
    <script src="{% static 'js/general.js ' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->

    {% include "main/header1.html" %}

    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <!-- end s-content__header -->
    
            <!-- <div class="s-content__media col-full">
                <div id="map-wrap">
                    <div id="map-container"></div>
                    <div id="map-zoom-in"></div>
                    <div id="map-zoom-out"></div>
                </div> 
            </div> -->

            <div class="col-full s-content__main custom_main">

                <h1>Sign In Here.</h1>

                <form name="cForm" id="cForm" method="post" action="login" onsubmit="return validate1()">
                    {% csrf_token %}
                    <fieldset>
                        {% for message in messages %}
                            <div class="alert-error"  role="alert">
                                {{message}}
                            </div>
                        
                        {%endfor%}
                        <!-- {% for message in messages %}
                        <span style="background-color: red">{{message}}</span>
                        {%endfor%} -->
                        <div class="form-field">
                            <input name="name" type="text" id="name" class="full-width" placeholder="Name">
                            <span id="email_error" style="color: red"></span>
                        </div>

                        <div class="form-field">
                            <input name="password" type="password" id="password" class="full-width" placeholder="password">
                            <span id="password_error" style="color: red"></span>
                        </div>

                        <button type="submit" class="submit btn btn--primary full-width">Submit</button>
                        <a href="signup" class="new_user">New User?</a>
                        <a href="reset_password/" class="forget">Forget Password!</a>
                    
                    </fieldset>
                </form> <!-- end form -->


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->


    <!-- s-extra
    ================================================== -->

    {% include "main/footer.html" %}

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>