* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.menu-sidebar .logo {
    background: #f5f5f5;
    height: 75px;
    padding: 0 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e5e5e5;
    position: relative;
    z-index: 3;
}
.header-desktop {
    background: #f5f5f5;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    height: 75px;
    z-index: 3;
}
.menu-sidebar {
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow-y: auto;
}

.menu-sidebar .navbar__list .navbar__sub-list {
    display: none;
    padding-left: 34px;
}

.menu-sidebar .navbar__list .navbar__sub-list li a {
    padding: 11.5px 0;
}

.menu-sidebar__content {
    position: relative;
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px);
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    touch-action: auto;
}

.navbar-sidebar {
    padding: 35px;
    padding-bottom: 0;
}

.navbar-sidebar .navbar__list li a {
    display: block;
    color: #555;
    font-size: 16px;
    padding: 15px 0;
}

.navbar-sidebar .navbar__list li a i {
    margin-right: 19px;
}

.navbar-sidebar .navbar__list li a:hover {
    color: #4272d7;
}

.navbar-sidebar .navbar__list li.active > a {
    color: #4272d7;
}
.has-sub {
    position: relative;
}

.header-desktop .section__content {
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991px) {
    .header-button {
        margin-top: 30px;
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
.noti-wrap {
    height: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.noti-wrap .noti__item:last-child {
    margin-right: 50px;
}

@media (max-width: 1200px) {
    .noti-wrap .noti__item:last-child {
        margin-right: 30px;
    }
}

@media (max-width: 991px) {
    .noti-wrap .noti__item:last-child {
        margin-right: 0;
    }
}

.noti__item {
    position: relative;
    margin-right: 35px;
    display: inline-block;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .noti__item {
        margin-right: 25px;
    }
}
@media (max-width: 767px) {
    .noti__item {
        margin-right: 20px;
    }
}

.noti__item:hover i {
    color: #999;
}

.noti__item i {
    font-size: 30px;
    color: #a9b3c9;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .noti__item i {
        font-size: 24px;
    }
}

.noti__item .quantity {
    position: absolute;
    display: inline-block;
    top: -4px;
    right: -7px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    background: #ff4b5a;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 12px;
}
.main-content {
    padding-top: 116px;
    min-height: 100vh;
}

@media (max-width: 991px) {
    .main-content {
        padding-top: 50px;
    padding-bottom: 100px;
    }
}
.mess-dropdown, .email-dropdown, .notifi-dropdown, .setting-dropdown {
    position: absolute;
    z-index: 9999;
    min-width: 340px;
    background: #fff;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    top: 100%;
    left: 0;
}

.mess-dropdown:before, .email-dropdown:before, .notifi-dropdown:before, .setting-dropdown:before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border-bottom: 9px solid #fff;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: -17px;
    left: 55px;
    z-index: 3;
}

.mess__title, .email__title, .notifi__title {
    padding: 22px;
    border-bottom: 1px solid #f2f2f2;
    cursor: default;
}

.mess__title p, .email__title p, .notifi__title p {
    line-height: -webkit-calc(29/14);
    line-height: -moz-calc(29/14);
    line-height: calc(29/14);
    font-size: 14px;
    color: #808080;
}

.mess__footer a, .email__footer a, .notifi__footer a {
    display: block;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    color: #4272d7;
    padding: 24px 0;
}

.mess__footer a:hover, .email__footer a:hover, .notifi__footer a:hover {
    color: #3868cd;
}

.mess-dropdown {
    top: 49px;
    left: -55px;
}

.mess__item {
    padding: 19px 22px;
    padding-bottom: 14px;
    border-bottom: 1px solid #f2f2f2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mess__item:hover {
    background: #f7f7f7;
}

.mess__item .image {
    margin-right: 15px;
}

.mess__item .content {
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: calc(100% - 55px);
    text-align: left;
}

.mess__item .content h6 {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
}

.mess__item .content p {
    font-size: 14px;
    color: #555;
    line-height: -webkit-calc(24/14);
    line-height: -moz-calc(24/14);
    line-height: calc(24/14);
    margin-bottom: 4px;
}

.mess__item .content .time {
    font-size: 12px;
    color: #999;
}

.email-dropdown {
    top: 49px;
    left: -53px;
}

.email__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 22px;
    padding-bottom: 14px;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.email__item:hover {
    background: #f7f7f7;
}

.email__item .image {
    margin-right: 15px;
}

.email__item .content {
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: calc(100% - 55px);
    text-align: left;
    font-size: 14px;
}

.email__item .content p {
    color: #555;
    line-height: 1;
    padding-top: 4px;
    margin-bottom: 3px;
}

.email__item .content span {
    font-size: 12px;
    color: #999;
}

.notifi-dropdown {
    left: -117px;
    top: 49px;
}

.notifi-dropdown::before {
    left: 63px;
}

.header-button .notifi-dropdown::before {
    left: 117px;
}

.notifi__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 22px;
    padding-bottom: 14px;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.notifi__item:hover {
    background: #f7f7f7;
}

.notifi__item .img-cir {
    position: relative;
    margin-right: 15px;
}

.notifi__item .img-cir i {
    font-size: 22px;
    /*color: #fff;*/
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notifi__item .content {
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    width: calc(100% - 55px);
    text-align: left;
    font-size: 14px;
}

.notifi__item .content p {
    color: #555;
    line-height: 1;
    padding-top: 5px;
    margin-bottom: 2px;
}

.notifi__item .content .date {
    font-size: 12px;
    color: #999;
}

.show-dropdown .js-dropdown {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.header-desktop .mess-dropdown {
    top: 51px;
}

.header-desktop .email-dropdown {
    top: 51px;
}

.header-desktop .notifi-dropdown {
    top: 51px;
}

@media (max-width: 991px) {
    .header-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header-wrap .mess-dropdown {
        left: 0;
    }

    .header-wrap .mess-dropdown::before {
        left: 0;
    }

    .header-wrap .notifi-dropdown {
        left: -83px;
    }

    .header-wrap .notifi-dropdown::before {
        left: 79px;
    }
}
.img-radius {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.img-cir {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.img-40 {
    height: 40px;
    width: 40px;
}

.img-120 {
    width: 120px;
    height: 120px;
}
.page-container {
    background: #e5e5e5;
    padding-left: 300px;
}