{% load static %}

<nav class="navbar-sidebar">
    <a class="js-arrow" href="myaccount" id="back">
    <i class="fa fa-angle-left"></i> Home</a>
    <ul class="list-unstyled navbar__list">
        <li class="active">
            
        </li>
        <li class="has-sub">
            <a class="js-arrow" href="#">
                Social link</a>

            <ul class="list-unstyled navbar__sub-list js-sub-list">
                
                {% for i in linkid %}
                    <li>
                        <a href="{{ i.sociallink }}" target="_blank">{{ i.sociallinkName }}</a>
                    </li>
                {% endfor%}
                
            </ul>
        </li>
        <li>
            add social links
        </li>
        <li>
            <form method="post" action="sociallink">
                {% csrf_token %}
                <input type="text" name="sname" placeholder="social link name">
                <input type="text" name="slink" placeholder="social link ">
                <input type="submit" name="submit" value="Add">
            </form>
        </li> 
        
    </ul>
</nav>

<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Main JS-->
    <script src="{% static 'js/main-dashboard.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

